<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dcmtkObjcWrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A41B4471CF628C00055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41B65D1CF709510055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BC001CF728260055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BC0A1CF729050055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BC3F1CF72A480055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BD841CF76A830055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BD8C1CF76AA80055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BD941CF76AB90055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BD9C1CF76AC70055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDA41CF76AD50055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDAC1CF76AE90055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDB41CF76D490055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDBC1CF76D5B0055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDC41CF76D6A0055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDCC1CF76D740055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BDD41CF76D820055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41BE631CF7B0A80055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41CCC41CF7D8260055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41CCCC1CF7D83A0055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41CCD41CF7D8460055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41CDDE1CF7FBB20055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41CE871CF87BCF0055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A41D05E1CF9D0F40055EC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78CE981CFA58B700B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78CEAD1CFA5ADF00B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78CEB51CFA5AF000B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78D7651CFB1E1100B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78DA771CFE10DD00B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A78DAE51CFE144A00B8C0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A9059F51CF5F72700A9CA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A905A031CF5F8BA00A9CA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A905A0B1CF5F9FD00A9CA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
